* {
    font-family: 'Roboto','Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns:  1.5fr repeat(3, 2fr) 2.5fr ;
    grid-template-rows: 1fr 3fr 2.5fr;
    height: 100%;
}

.header {
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(206, 206, 206, 0.417);
    padding: 20px;
    padding-bottom: 0;
}


.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #38bdf8;
    color: white;
}

.sidebar li {
    list-style-type: none;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
}

.sidebar li:hover{
    background-color: #67e8f9;
    border-radius: 20px;
    width: 100%;
}

.nav-links {
    text-align: start;
}

.sidebar i{
    margin-right: 15px;
    cursor: pointer;
}

.top-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-info{
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 18%;
}


.search-bar {
    width: 80%;
}


#search {
    background-color: #e2e8f0;
    border-radius: 15px;
    border: none;
    width: 80%;
    height: 30px;
    margin-left: 10px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
}

.right {
    margin:10px;
}

.btn-class {
    margin-right: 20px;
    width: 100px;
    height: 40px;
    background-color: #38bdf8;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.btn-class:hover{
    background-color: #67e8f9;
}

a {
    text-decoration: none;
}

span > a:visited{
    color: black;
}
span > a {
    color: black;
}

i > a:visited {
    color: white;
}

button > a {
    color: white;
    margin-left: 5px;
}

.content {
    grid-area: 2/2/4/5;
    background-color: #e2e8f0;
    padding: 20px;
}

.card-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    height: 95%;
    overflow: auto;
}

.side-content {
    padding: 15px;
    grid-row: 2/-1;
    background-color: #e2e8f0;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2,minmax(350px,1fr));
    overflow: auto;
}

h3 {
    margin-bottom: 10px;
}

.project-card {
    background-color: white;
    height: 200px;
    border-radius: 20px;
    border-left: 10px solid orange;
    padding: 30px;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

.card-btns {
    margin-left: auto;
}

.card-btns i {
    margin-right: 10px;
    font-size: 1.1rem;
}

.project-card p {
    color: grey;
}


.side-card {
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1rem;
    padding: 20px;
    
}
hr {
    margin-top: 15px;
    color: rgba(177, 176, 176, 0.653);
}
.side-card p {
    font-size: 0.8rem;
    color: grey;
}
.trending-tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#Dashboard {
    padding-top:10px ;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 40px;
}

.text > span {
    font-size: 1.2rem;
    font-weight: bold;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.left span {
    font-size: 1.3rem;
}
